<footer>
        <div class="conteiner-footer">
          <div class="row">
            <div class="col">
              <img class="sss" src="<%= image_path('sssss.png') %>">
              <button type="button" class="btn btn-outline-light">English</button>
              <p class="post-footer">All rights reserved. © Space. 2019 Htmlstream.</p>
            </div>
            <div class="col">
              <p class="act-footer">About</p>
              <p class="footer-item">About Agency</p>
              <p class="footer-item">About Start-Up</p>
              <p class="footer-item">Services Agency</p>
              <p class="footer-item">Services Start-Up</p>
            </div>
            <div class="col">
              <p class="act-footer">Company</p>
              <p class="footer-item">Contact Us</p>
              <p class="footer-item">Help</p>
              <p class="footer-item">Careers</p>
              <p class="footer-item">Terms & Conditions</p>
              <p class="footer-item">Privacy & Policy</p>
            </div>
            <div class="col">
              <p class="act-footer">Shop</p>
              <p class="footer-item">Classic</p>
              <p class="footer-item">Single Product</p>
              <p class="footer-item">Checkout</p>
            </div>
            <div class="col">
              <p class="act-footer">Social</p>
              <p class="footer-item">Facebook</p>
              <p class="footer-item">Twitter</p>
              <p class="footer-item">Dribbble</p>
              <p class="footer-item">GitHub</p>
            </div>
          </div>
        </div>
      </footer>