 <header style="background-image: url('<%= image_path('Rectangle.png') %>'); background-size: cover;">
          <div class="image">
            <nav class="navbar">
              <a class="navbar-brand" href="#">
                <img  class="logo" src="<%= image_path('Frame.png') %>" width="133" height="36" left="15"
          top="18" alt="">
              </a>
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Works</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Shop</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Docs</a>
                </li>
              </ul>
              <button type="button" class="btn btn-success">Sign in</button>
              <div class="icons">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
              </div>
            </nav>
            <h6>Join the change</h6>
            <section class="wow slideInLeft" data-wow-duration="2s" data-wow-delay="5s"> 
              <h2>Space service that moves work forward</h2>
            </section>
            <form id="register-form">
              <div class="form-group">
                <label for="formGroupExampleInput">Get started for free</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your username">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your email address">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your password">
              </div>
              <button class=" btn header-btn">Get Started</button>
            </form>
          </div>
        </header>